.corno {
    font-family: "poppins" sans-serif;
}
.Lorem {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.Lorem h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}